<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="include :: header('字典类型列表')" />
    </head>
    <body class="gray-bg">
        <div class="container-div">
            <div class="row">
                <div class="col-sm-12 search-collapse">
                    <form id="type-form" th:object="${dict}">
                        <input type="hidden" name="pid" th:field="*{pid}" />
                        <div class="select-list">
                            <ul>
                                <li>
                                    字典名称：<input type="text" name="dictName"/>
                                </li>
                                <li>
                                    字典类型：<input type="text" name="dictType"/>
                                </li>
                                <!--
                                <li>
                                    字典状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                                -->
                                </li>
                                <li class="select-time">
                                    <label>创建时间： </label>
                                    <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                    <span>-</span>
                                    <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                                </li>
                                <li>
                                    <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>

                <div class="btn-group-sm" id="toolbar" role="group">
                    <a class="btn btn-success" onclick="$.operate.add('root')">
                        <i class="fa fa-plus"></i> 新增
                    </a>
                    <a class="btn btn-primary single disabled" onclick="$.operate.edit()">
                        <i class="fa fa-edit"></i> 修改
                    </a>
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()">
                        <i class="fa fa-remove"></i> 删除
                    </a>
                    <a class="btn btn-warning" onclick="$.table.exportExcel()">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>

                <div class="col-sm-12 select-table table-striped">
                    <table id="bootstrap-table"></table>
                </div>
            </div>
        </div>
        <th:block th:include="include :: footer" />
        <script th:inline="javascript">
            var editFlag = "";
            var listFlag = "";
            var removeFlag = "";
            var datas = "";
            var prefix = ctx + "admin/dict";

            $(function() {
                var options = {
                    url: prefix + "/list",
                    createUrl: prefix + "/add/{id}",
                    updateUrl: prefix + "/edit/{id}",
                    removeUrl: prefix + "/remove",
                    exportUrl: prefix + "/export",
                    sortName: "createTime",
                    uniqueId: "fdid",
                    sortOrder: "desc",
                    modalName: "类型",
                    columns: [{
                        checkbox: true
                    }, {
                        field: 'id',
                        title: '字典编号'
                    }, {
                        field: 'code',
                        title: '字典主键'
                    }, {
                        field: 'name',
                        title: '字典名称',
                        sortable: true
                    }, {
                        field: 'enable',
                        title: '状态',
                        align: 'center',
                        formatter: function(value, row, index) {
                            //return $.table.selectDictLabel(datas, value);
                            return statusTools(row);
                        }
                    }, {
                        field: 'fullname',
                        title: '备注'
                    }, {
                        title: '操作',
                        align: 'center',
                        formatter: function(value, row, index) {
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.fdid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-info btn-xs ' + listFlag + '" href="javascript:void(0)" onclick="detail(\'' + row.id + '\')"><i class="fa fa-list-ul"></i>列表</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.fdid + '\')"><i class="fa fa-remove"></i>删除</a>');
                            return actions.join('');
                        }
                    }]
                };
                $.table.init(options);
            });

            /*字典列表-详细*/
            function detail(dictId) {
                var url = prefix + '/list/' + dictId;
                $.modal.openTab("字典数据", url);
            }

            function statusTools(row) {
                if (row.enable == '1') {
                    return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.roleId + '\')"></i> ';
                } else {
                    return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.roleId + '\')"></i> ';
                }
            }

        </script>
    </body>
</html>
